<html>
<head>
<title>User Stories</title>
<style type="text/css">
.priority {
    border: 1px solid #aaa;
    padding: 1px;
    font-size: 60%;
    font-weight: bold;
}
.priority-high {
    background-color: pink;
}
.priority-medium {
    background-color: yellow;
}
.priority-low {
    background-color: lightgreen;
}
</style>
</head>
<body>
    <ol>
        {% for story in stories %}
        <li>
            <span class="priority priority-{{ story.priority|lower }}">{{ story.priority }}</span>
            As a <span class="role role-{{ story.role|lower }}">{{ story.role }}</span>,
            I want <span class="action">{{ story.action }}</span>
            so that <span class="reason">{{ story.reason }}</span>.
        </li>
        {% endfor %}
    </ol>
</body>
</html>
